.displayFlex{
    display: flex;
}
.displyFloat{
    float: right;
    width: 500px;
    height: 500px;
    align-items: center;
    display: flex;

}
.Mbox1{
    width: 800px;
    height: 500px;
    align-items: center;
    display: flex;
    margin-left: 50px;   
}
.grid{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100vw;
    height: 100vh;
}