:root{
    --light1green : #FFBD59;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 6px 20px;
}
#logo{
    height: 75px;
}
.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
}
.navbar>ul>a{
    text-decoration: none;
    color: inherit;
}
.navbar ul li{
    list-style-type: none;
    margin: 0px 25px;
    padding: 3px 15px;
    cursor: pointer;
    transition: 0.1s ease;
}
#loginBtn{
    border: 3px solid var(--light1green);
    padding: 3px 20px;
    margin: 0px 10px;
}

#signupBtn{
    background-color: var(--light1green);
    padding: 3px 20px;
    border: 3px solid var(--light1green);
    color: white;
    margin: 0px 20px;
}

/* to design active page name */
.active>li{
    color: #7ED957 !important;
    box-shadow: 0px 0px 5px 1px #7ED957;
    transform: scale(1.1) ;
    transition: 0.2s ease;
}
.hr{
    margin-top: 10px;
    border-bottom: 3px double #CB6CE6;
}

/* ----------------------------------Media Query----------------------------------- */
@media(max-width: 400px){
    #signupBtn{
        width: 60%;
    }
    #loginBtn{
        width: 55%;
    }
    .hr{
        margin-top: 10px;
        border-bottom: 3px double #CB6CE6;
        width: 210vw;
    }
}