.profileContainer{
display: flex;
align-items:center ;
flex-direction: column;
background-color:rgb(229, 233, 239);
width: 600px;
height: 400px;
margin: 50px auto;
padding: 50px 0px;
text-align: center;

}
.profileImg{
    width: 150px;
}
.profileContainer>h1{
    width: 50%;
    border-bottom: 2px solid orange;
}

@media (max-width:900px){
    .profileContainer{
        width: 90%;
        height: 400px;
    }
}