.item-input{
    width: 500px;
    margin: auto;
}

.table{
    margin:auto;
}

.add-menu{
    align-items: center;
    justify-content: center;
    display: flex ;
    font-family: 'Times New Roman', Times, serif;
    color: #329807;
}
.Upload-btn, .Save-btn{
    width: 70px;
    height: 30px;
    background-color: white;
    border: 2px solid #cc7d07;
    border-radius: 10px;
    color: #329807;
    margin: auto;
    margin: 10px auto 10px auto;
}
.upld-sav-btn{
    display: flex;
    justify-content: center;
}
td{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    color: #329807;
   
}
.inputText,.inputTextArea ,.selectOption{
    height: 30px;
    padding: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #cc7d07 ;
    outline: none;
    color: #329807;
    resize: none;
    width: 90%;
}
.choose-file{
    display: none;
}

.fa{
 display: flex; 
    align-items: center;
}

.menu-data{
    width: 90%;
    height: auto;
    border: 2px solid rgba(17, 17, 17);
    background-color: rgb(20, 20, 20, 0.5);
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;  
}
.menu-data h3{
    text-align: center;
    color: aliceblue;
}
.main-box{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
}


/* ---------------------------Media Query------------------------- */

@media(max-width: 400px){
    /* .main-box{
        width: 220%;
        display: block;
        margin-top: 20px;
    }
    .item-input{
        margin: auto;
    }
    .menu-data{
        width: 85%;
        margin: 60px auto;
    } */
    .main-box{
        width: 100%;
        display: block;
        margin-top: 20px;
    }
    .item-input{
        margin: auto;
    }
    .menu-data{
        width: 85%;
        margin: 60px auto;
    }
}