.CPMainBox,.CPMainBox2{
    width: 420px;
    background-color: rgb(251, 249, 249);
    box-shadow: 5px 10px rgb(64, 61, 61, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    padding: 20px;
    color: #329807;
    border: 2px solid #cc7d07;
}
.CPMainBox2{
    width: 440px !important; 
}
.CPMainBox1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15vh;
}
.CPcontain-box{
    height: 30px;
    padding: 4px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #cc7d07 ;
    outline: none;
    color: #329807;
    resize: none;
    width: 90%;
}
#CPh1{
    font-family: 'Times New Roman', Times, serif;
    color: #329807;
}
#CPh1>i{

    color: red;
}