.signout{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.signout-box{
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.signout-box p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.logout-btn,.cancel-btn{
    width: auto;
    padding: 10px;
    border: none;
    background-color: rgb(84, 181, 255);
    color: azure;

}
.cancel-btn{
    margin-left: 50px;
}

.logout-btn:hover,.cancel-btn:hover,.back-btn:hover{
    border-bottom: 2px solid rgb(24, 98, 169);
}
.back-btn{
    width: auto;
    padding: 10px;
    border: none;
    background-color: rgb(84, 181, 255);
    color: azure;
    margin-top: 50px;
}
.lgotH1{
justify-content: center;
display: flex;
}