
/*********** the doodle container */
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5vw;
}
#doodle1{
    width: 48%;
}
.content1{
    width: 50%;
    line-height: 40px;
}
.content1>h1{
    font-size: 30px;
}

@media (max-width:900px) {
.container1{
    flex-direction: column-reverse;
}
#doodle1{
    width: 109%;
}
.content1{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
}
