.busiProContainer{
    display: flex;
    justify-content: center;
    width: 70vw;
    margin: 20px auto;
    
}
.busiProNav{
    width: 70vw;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.busiProNav>li{
    list-style-type: none;
    margin: 0px 40px;
    font-size: 30px;
    cursor: pointer;
}
.busiProContainer>img{
    width: 40%;
}
.busiProDesc{
    margin: 0px 50px;
    padding: 20px 0px;
}
.busiProDesc>h2{
  border-bottom: 3px solid #61bf39;
    font-size: 40px;
}
.busiProDesc>p{
    margin: 20px 0px;
}

.busiProContact,.addressDiv{
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px 0px;
}
.addressDiv>img{
  width: 17px;
  margin-right: 5px;
}
.addressDiv>p>a{
  color: inherit;
}
.busiProContact>img{
  width: 30px;
}
.busiProContact>p{
  font-size: 15px;
  display: inline-block;
  border-bottom: 1px solid black;
}
.busiProBtns {
    appearance: button;
    background-color: #61bf39;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin:0px 10px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    width: 130px;
    height: 40px;
  }
  
  .busiProBtns:after {
    background-clip: padding-box;
    background-color: #7ED957;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .busiProBtns:main,
  .busiProBtns:focus {
    user-select: auto;
  }
  
  .busiProBtns:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .busiProBtns:disabled {
    cursor: auto;
  }

  @media (max-width:900px) {

    .busiProContainer{
      flex-direction: column ;
      margin: 0px auto;
      width: auto;
    }
    .busiProContainer>img{
      width: 90%;
      margin: auto;
    }
    .busiProDesc{
      margin: 10px;
      text-align: center;
    }
    .busiProNav{
      width: 95%;
    }
    .busiProNav>li{
      margin: 0px 20px;
      font-size: 25px;
  }
  .busiProContact{
    justify-content: center;
  }
  .addressDiv{
    justify-content: center;
    align-items: flex-start;
  }
  .busiProBtnsContainer{
    text-align: center;
  }
  }